html{font-family: Arial, Helvetica, sans-serif,"宋体";background-color: #FAFAFA;}
/*header区域*/
header{
    height: 88px;
    background-color: #FFF;
    h1{
        width: 250px;
        padding-top: 15px;
        float: left;
        a{
           float: left;
            height: 88px;
            width: 135px;
            text-indent: -9999em;
            background: url('../img/register/left.jpg') no-repeat;
        }
        span{
            float: left;
            width: 112px;
            height: 88px;
            background: url('../img/register/slogan.jpg') no-repeat;
        }
    }
    .header-r{
        float: right;
        width: 290px;
        padding-top: 48px;
        font-size:12px;
        .r-a1{
            color: #999999;
            
        }
        .r-a2{
            padding: 0 15px;
            color:blue;
            &:hover{
                text-decoration: underline;
            }
        }
        .r-a3{
            cursor: pointer;
            position: relative;
            padding: 5px 5px;
            border:1px solid #FFF;
            &::after{
                content: '';
                background: url('../img/register/regLogin-8.png') no-repeat;
                background-position: -23px 0;
                width: 15px;
                height: 14px;
                display: inline-block;
                margin-left: 5px;
            }
            &:hover{
                border: 1px solid #CCC;
                border-bottom:none;
            }
            &:hover .r-a3-d{
                display: block;
            }
            .r-a3-d{
                width: 83px;
                display: none;
                position: absolute;
                background-color: #FFF;
                border: 1px solid #CCC;
                left: -58px;
                border-top: none;
                z-index:1000;
                a{
                    display: block;
                    border-top:1px dashed #CCC;
                    padding: 8px 5px;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

/*main区域*/
.main{
    background: url('../img/register/bg.jpg') repeat-x scroll left top;
    .back{
        position: relative;
        padding-top:70px;
        //选择注册方式
        .regi-cli{
            position: absolute;
            right: 18px;
            top: 36px;
            font-size:12px;

            //默认点击
            .default{
                padding: 0 16px;
                color: #FF9900;
                border: 1px solid #EAEAEA;
                border-radius:5px 5px 0 0;
                border-bottom:none;
                background-color:#FFFFFF;
                line-height: 35px;
                height: 35px;
                float: left;
            }
            //颜色点击
            .firm{
                line-height: 34px;
                height: 34px;
                padding: 0 14px;
                background-color: #FF9900;
                color:#FFF;
                float: left;
                border-radius:5px 5px 0 0;
            }
            .clia2{
                margin-left:10px;
            }
        }
        // 主要注册内容
        .regi-conter{
            height: 505px;
            border: 1px solid #EAEAEA;
            border-radius: 5px;
            background-color:#FFF;
            padding-top: 74px;
            padding-left:268px;
            &>.from>div{
                position: relative;
                height: 57px;
                &>label{
                    text-align: center;
                    height: 42px;
                    line-height: 42px;
                    font-size:16px;
                    color:#666;
                    float: left;
                    width: 122px;
                }
                &>em{
                    display: inline-block;
                    height: 42px;
                    width: 40px;
                    position: absolute;
                    
                }
            }
            .from{
                width: 435px;
                &>.register-d1{
                    input[type="text"]{
                        width: 302px;
                        height: 42px;
                        line-height: 42px;
                        padding-left:46px;
                        border:1px solid #CCC;
                    }
                    em{
                        background: url('../img/register/regLogin-8.png') no-repeat;
                        background-position: -40px 11px;
                    }
                    i{
                        position: absolute;
                        right: 14px;
                        top: 0;
                        display: block;
                        height: 40px;
                        width: 80px;
                        line-height: 42px;
                        text-align: center;
                    }
                    
                }
                &>.register-d2{
                    input[type="text"]{
                        width: 302px;
                        height: 42px;
                        line-height: 42px;
                        padding-left:46px;
                        border:1px solid #CCC;
                    }
                    em{
                        background: url('../img/register/regLogin-8.png') no-repeat;
                        background-position: -412px 12px;

                    }
                    i{
                        position: absolute;
                        right: 32px !important;
                        top: 0;
                        display: block;
                        height: 40px;
                        width: 100px;
                        line-height: 42px;
                        text-align: center;
                        border: 1px solid #CCc;
                    }
                    
                }
                &>.register-d3{
                    input[type="text"]{
                        width: 148px;
                        height: 42px;
                        line-height: 42px;
                        padding-left:46px;
                        border:1px solid #CCC;
                    }
                    em{
                        background: url('../img/register/regLogin-8.png') no-repeat;
                        background-position: -252px 10px;
                    }
                    button{
                        width: 148px;
                        height: 42px;
                        line-height: 42px;
                        border: 1px solid #CCC;
                        background-color: #EAEAEA;
                        color:#666666;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                    i{
                        position: absolute;
                        right: 14px;
                        top: 0;
                        display: block;
                        height: 40px;
                        width: 80px;
                        line-height: 42px;
                        text-align: center;
                    }
                   
                }
                &>.register-d4,&>.register-d5{
                    input[type="password"]{
                        width: 302px;
                        height: 42px;
                        line-height: 42px;
                        padding-left:46px;
                        border:1px solid #CCC;
                    }
                    em{
                        background: url('../img/register/regLogin-8.png') no-repeat;
                        background-position: -72px 12px;
                    }
                    i{
                        position: absolute;
                        right: 14px;
                        top: 0;
                        display: block;
                        height: 40px;
                        width: 80px;
                        line-height: 42px;
                        text-align: center;
                        font-size: 12px;
                        
                        
                    }
                    
                }
                &>.register-d6{
                    height: 30px;
                    label{
                        height: 30px; 
                    }
                    span{
                        padding-left:10px; 
                        font-size:12px;
                        a{
                            color: #0066CC;

                        }
                    }

                }
                &>.register-d7{
                    input[type="button"]{
                        width: 302px;
                        height: 42px;
                        line-height:42px;
                        text-align: center;
                        color: #FFF;
                        background-color:#E10303;
                        cursor: pointer;
                    }
                }
                &>.register-d1,&>.register-d2,&>.register-d3,&>.register-d4,&>.register-d5{
                    span{
                        color: #FFF;
                        font-size: 12px;
                        height: 20px;
                        right: 11px;
                        background-color: #CCC;
                        padding: 0 5px;
                        position: absolute;
                        display: none;
                        bottom: 2px;
                    }
                   
                }
                &>.register-d1,&>.register-d4,&>.register-d5{
                    i{
                        background: url('../img/register/regLogin-8.png') no-repeat 0 0;
                        background-position: -162px 0;
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        top: 14px;
                        right: 22px;
                        z-index: 4;
                        display: none;
                    }
                }

                
            }
        }
    }
}
.center{padding:10px 20px;background-color:rgba(0,0,0,.6);text-align: center;color:#FFF;position:absolute;display:none;}
/*footer区域*/
.footer{
    padding:68px 0;
    
    .foter-d1{
        text-align: center;
        font-size: 12px;
        span{
            color: #666666;
            padding: 0 4px;
        }
    }
    .foter-d2{
        text-align: center;
        font-size:12px;
        padding-top:18px; 
        color:#E10303;
    }
}